.App {
  text-align: center;
  overflow-x: hidden;
  height: 100%;
  background-color: #000000;
  color:#B3BBBD;
  margin-bottom: -10rem;
}
.resume {
  background-color: #000000;
  height: 100vh;
  width:100%;
  
}
.responsive-resume {
  margin-left: 25vw;
  overflow:hidden;
  width: 100%;
  height: 100%;
}
.download {
  float:left;
  margin-top: -35rem;
  margin-left: 5rem;
}
.footer {
  overflow-y:hidden;
  background-color: green;
  color: #B3BBBD;
  position: absolute;
  width: 100vw;
  height: 6rem;
}

.navbar {
  background-color: #000;
  color:#B3BBBD;
  padding: 0rem 2rem 0rem 2rem;
}

.links {
  margin: 0rem 2rem 0rem 2rem;
}
a {
  color: #d87df6;
}

